extends layout

block content
  script(type="text/javascript" charset="utf-8" src="/javascripts/three.min.js")
  script(type="text/javascript" charset="utf-8" src="/javascripts/dat.gui.min.js")
  script(type="text/javascript" charset="utf-8" src="/javascripts/trackball.js")
  script(type="text/javascript" charset="utf-8" src="/javascripts/slot.js")
  script(type="text/javascript" charset="utf-8" src="/javascripts/board.js")
  script(type="text/javascript" charset="utf-8" src="/javascripts/game.js")
  button(onclick="game.hideNextFace()") >
